* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header {
  margin: 70px 73px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
ul {
  list-style-type: none;
}
.menu {
  display: flex;
  margin: 0 -50px;
}
.menu li {
  flex: 1 1 auto;
  margin: 0 58px;
  font-size: 14px;
  font-family: 'PlayfairDisplay';
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 1.714;
}
.photodiary {
  padding-top: 75px;
}
.container {
  max-width: 1065px;
  padding: 0 11% 100px 11%;
}
.photodiary-title {
  font-size: 14px;
  font-family: 'Ubuntu';
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
}
.photodiary-name {
  font-size: 30px;
  font-family: 'PlayfairDisplay';
  color: rgb(98, 98, 98);
  line-height: 1.2;
  padding: 22px 0;
}
.photodiary-description {
  font-size: 14px;
  font-family: 'PlayfairDisplay';
  color: rgb(98, 98, 98);
  line-height: 1.714;
  padding-top: 7px;
  margin-bottom: 20px;
}
.share {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.com {
  margin-top: 50px;
}
.italic {
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;
  color: rgb(98, 98, 98);
  margin: 20px;
}
.share div {
  margin-right: 10px;
  color: #626262;
}
.share p {
  margin-right: 10px;
}
.sign-up {
  padding: 70px 112px 70px 125px;
  background: #f0f0f0;
}
.cards {
  display: flex;
  flex-direction: row;
}
.card-name {
  font-size: 18px;
  font-family: 'PlayfairDisplay';
  color: rgb(98, 98, 98);
  line-height: 1.2;
  padding-bottom: 5px;
  padding: 30px 0;
}
.card-name-comment {
  font-size: 18px;
  font-family: 'PlayfairDisplay';
  color: rgb(98, 98, 98);
  line-height: 1.2;
  padding-bottom: 5px;
}
.sign-up div {
  margin-right: 50px;
}
.sign-up div:last-child {
  margin-right: 0;
}
.card-title {
  font-size: 12px;
  font-family: 'Ubuntu';
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  padding: 5px 0 20px 0;
}
.first {
  height: 100vh;
  display: grid;
  place-items: center;
}

.slider {
  width: 100%;
  max-width: 1062px;
  height: 509px;
  position: relative;
  overflow: hidden; /* <===  */
}

.slide {
  width: 100%;
  max-width: 1062px;
  height: 509px;
  position: absolute;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(./img/image.png);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center center;
  background-size: cover;
}

.btn {
  position: absolute;
  top: 200px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.btn:active {
  transform: scale(1.1);
}
.btn-prev {
  left: 1%;
}

.btn-next {
  right: 1%;
}
.photo img {
  width: 100vw;
  margin-bottom: 50px;
}
footer {
  padding: 35px 47px 16px 138px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f0f0f0;
}
.footer-left {
  display: flex;
  flex-direction: row;
}
.footer-right {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
footer div {
  margin-right: 20px;
  font-size: 14px;
  font-family: 'PlayfairDisplay';
  color: rgb(0, 0, 0);
  line-height: 1.714;
}
.img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-right: 20px;
}
.comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.comments div {
  margin-bottom: 20px;
}
input {
  width: 100%;
  margin: 20px 0;
  padding: 0 20px;
  border: 1px solid #f0f0f0;
}
input::placeholder {
  color: rgb(180, 173, 158);
}
.connect {
  display: flex;
  justify-content: flex-end;
}
.f {
  color: rgb(0, 0, 0);
}
@media (min-width: 320px) and (max-width: 479px) {
  .photodiary {
    padding: 60px 11% 10px 8%;
    width: 100%;
  }
  .sign-up div {
    margin-right: 0px;
  }
  .sign-up div:last-child {
    margin-right: 0px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .sign-up {
    padding: 30px 90px 40px 90px;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu li {
    flex: 1 1 auto;
    margin: 0 2px;
  }
  .menu {
    margin-top: 50px;
  }
  .slider {
    width: 90vw;
  }

  .slide {
    width: 90vw;
  }
  .aside {
    display: none;
  }
  main {
    width: 100%;
  }
  .slide img {
    width: 90vw;
    height: 100vh;
  }
  .photodiary {
    text-align: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-left,
  .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .footer-right {
    margin-left: -25%;
  }
}
@media (min-width: 480px) and (max-width: 575px) {
  .photodiary {
    padding: 60px 11% 10px 8%;
  }
  .sign-up div {
    margin-right: 0px;
  }
  .sign-up div:last-child {
    margin-right: 0px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .sign-up {
    padding: 30px 90px 40px 90px;
  }
  header {
    margin: 70px 55px;
  }
  .menu li {
    flex: 1 1 auto;
    margin: 0 5px;
  }
  .photodiary {
    text-align: center;
    width: 100%;
  }
  .slider {
    width: 90vw;
  }
  main {
    width: 100%;
  }
  .aside {
    display: none;
  }
  .slider {
    width: 90vw;
  }
  .slide {
    width: 90vw;
  }

  .slide img {
    width: 90vw;
    height: 100vh;
  }
  footer {
    padding: 35px 20px 36px 20px;
  }
  footer div {
    margin-right: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .photodiary {
    padding: 60px 11% 10px 8%;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .sign-up {
    padding: 30px 90px 40px 90px;
  }
  .sign-up div {
    margin-right: 0px;
  }
  .sign-up div:last-child {
    margin-right: 0px;
  }
  .menu li {
    flex: 1 1 auto;
    margin: 0 10px;
  }
  .photodiary {
    text-align: center;
  }
  .slider {
    width: 90vw;
  }

  .slide {
    width: 90vw;
  }

  .slide img {
    width: 90vw;
    height: 100vh;
  }

  footer {
    padding: 35px 47px 36px 38px;
  }
}
@media (min-width: 768px) and (max-width: 978px) {
  .photodiary {
    padding: 60px 11% 10px 8%;
  }
  .sign-up {
    padding: 50px 90px 70px 90px;
  }
  .menu li {
    flex: 1 1 auto;
    margin: 0 30px;
  }
  .photodiary {
    text-align: center;
  }
  .slider {
    width: 90vw;
  }

  .slide {
    width: 90vw;
  }

  .slide img {
    width: 90vw;
    height: 100vh;
  }
}
@media (min-width: 979px) and (max-width: 1100px) {
  .photodiary {
    padding: 70px 11% 100px 8%;
  }
  .slider {
    width: 90vw;
  }

  .slide {
    width: 90vw;
  }

  .slide img {
    width: 90vw;
    height: 100vh;
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
h4,
h5 {
  margin: 10px 0;
  text-rendering: optimizelegibility;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
